body {
    background: linear-gradient(50deg,#ff2db6, #fbf027);
}
.food-tile {
    padding: 15px;
    margin: 15px auto;
    background-color: rgba(255, 255, 255, 0.75);
    /* background: linear-gradient(50deg,#ff2db6, #fbf027); */
    border-radius: 2px;
    width: 95%;
    box-shadow: 9px 12px 46px -20px rgba(0,0,0,0.83);
    width: 89%;
    max-width: 750px;
}
.food-tile h4 {
    margin: 10px auto;
    text-align: center;
    padding: 10px 15px;
}
.food-tile p {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}
.food-tile ul, ol {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}
.food-tile li {
    font-family: 'Roboto', sans-serif;
}
.bold {
    font-weight: bolder;
}
.random-recipe-button {
    margin: 15px auto;

}
.random-recipe-button button {
    margin: 15px auto;
    background-color: #fff9fd;
    border-radius: 2px;
    border: none;
    font-family: 'Roboto', sans-serif;
    width: 89%;
    height: 25px;
}
video {
    display: block;
    margin: 0 auto;
}