#content {
    margin: 0 auto;
}
.counterStatement{
    text-align: center;
}
.counter {
    font-weight: bold;
    color: green;
    text-align: center;
    margin-top: 1rem;
}

html {
    height: 100vh;
}
footer {
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 50px;
    gap: 50px;
    background-color: grey;
    height: 40px;
    width: 100%;
}
.made-with-love {
    font-family: 'Roboto', sans-serif;
}
.about-us {
    
}
