*
{
    box-sizing: border-box;
    font-family: 'Wire One', sans-serif;
}
body
{
    background: linear-gradient(50deg,#ff2db6, #fbf027);
    background-size: cover;
    background-position-x: center;
    height: 100vh;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
.fa-home
{
    font-size: 1.4rem;
    position: fixed;
    top: .2em;
    left: .2em;
    color: rgba(0, 0, 0, 0.464);
}
.banner
{
    border: 6px solid white;
    width: 89%;
    margin: 1em auto;
}
.wrapper 
{
    margin: 0 auto;
    width: 1200px;
}
h1
{
    text-align: left;
    font-size: 2rem;
    /* background-color: rgba(255, 255, 255, 0.6); */
    margin: 2rem 2rem 0 2rem;
    padding-top: .5em;
    font-family: 'Advent Pro', sans-serif;
    color: white;
    /* text-shadow: 1px 1px 1px black; */
}
.split-h1
{
    display: block;
    font-family: 'Advent Pro', sans-serif;
}
h2
{
    text-align: left;
    /* background-color: rgba(255, 255, 255, 0.6); */
    margin: 0 2rem;
    padding: .5em 0 1.5em 0;
    color: white;
    /* text-shadow: 0 0 1px rgb(0, 0, 0); */
    font-size: 2rem;
    font-style: italic;
}
nav
{
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.888);
    border-top: 10px solid yellow;;
    /* margin: 0 2rem 2rem 2rem; */
    padding: .6em 0 0 0;
    width: 89%
}
ul 
{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
}
li 
{
    flex-grow: 1;
    height: 100px;
    list-style: none;
    text-align: center;
    align-items: center;
    padding: 0 .2em .5em .5em;
    height: 100%;
}
a
{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.464);
    padding: 10px 20px;
}
.nav-button:focus {
    border-radius: 2px;
    background: #e5e5e5;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
        -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
}
.active
{
    color: black;
    font-weight: bold;
}


@media screen and (max-width: 1195px) {
    .wrapper
    {
        width: 95%;
    }
}

@media screen and (max-width: 595px) {
    .nav-button 
    {
        padding: 15px 0px;
    }
}
