
.fa-thumbs-up:active
{
    color: #23EBEB;
}
.story-tile {
    padding: 15px;
    margin: 15px auto;
    /* background-color: mintcream; */
    background: linear-gradient(50deg,#ff2db6, #fbf027);
    border-radius: 10px;
    width: 95%;
    box-shadow: 9px 12px 46px -20px rgba(0,0,0,0.83);
}
.story-tile h1 {
    padding: 0;
    margin: 0;
}
.story-tile p {
    font-size: 1.2rem;
}
.story-tile-bottom {
    display: flex;  
    justify-content: space-between;
}
